@import "./styles/variables.scss";
@import "./styles/animations.scss";

* {
  margin: 0;
  padding: 0;
}

.fireworks {
  display: block;
  background-color: transparent;
}

.section-1 {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: $color-yellow;
  position: relative;
}

.content {
  position: relative;

  .hb {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 11px;
    padding: 0 5px;
    text-align: center;
    text-transform: uppercase;
    color: $color-pink-dark;
    font-kerning: none;
    visibility: hidden;
    overflow: hidden;
    z-index: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100px);
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
      font-size: 20px;
    }

    @media (min-width: $breakpoint-desktop) {
      font-size: 28px;
      top: 50%;
      padding: 0 15px;
      left: 0;
      transform: translate(0, 300px);
      width: auto;
    }

    .char {
      background: url("assets/images/text-background.png");
      background-size: auto 200%;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textBackgroundMoving 30s linear infinite;
    }
  }

  .cake {
    &-wrapper {
      position: absolute;
      left: 457px;
      transform: translate(-50%, 0);

      #cake-svg {
        height: 500px;
        margin-top: -200px;

        rect {
          transform: translateY(-100%);
          animation: rectMoving 1s 11.2s cubic-bezier(0.68, -0.55, 0.265, 1.55)
            forwards;
        }
      }

      .fuego {
        border-radius: 100%;
        position: absolute;
        top: -20px;
        left: 50%;
        margin-left: -2.6px;
        width: 6.66666667px;
        height: 18px;
      }
      .fuego:nth-child(1) {
        animation: fuego 2s 6.5s infinite;
      }
      .fuego:nth-child(2) {
        animation: fuego 1.5s 6.5s infinite;
      }
      .fuego:nth-child(3) {
        animation: fuego 1s 6.5s infinite;
      }
      .fuego:nth-child(4) {
        animation: fuego 0.5s 6.5s infinite;
      }
      .fuego:nth-child(5) {
        animation: fuego 0.2s 6.5s infinite;
      }
    }
  }

  .cake {
    background: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 185px;
    left: 50%;
    margin-left: -2.4px;
    margin-top: -8.33333333px;
    width: 5px;
    height: 35px;
    transform: translateY(-300px);
    backface-visibility: hidden;
    animation: in 500ms 14s ease-out forwards;

    &::before,
    &::after {
      background: $color-pink-dark;
      content: "";
      position: absolute;
      width: 100%;
      height: 2.22222222px;
    }

    &::after {
      top: 25%;
      left: 0;
    }

    &::before {
      top: 45%;
      left: 0;
    }
  }
}

/* === Styling and Animating SVG === */
.vectroized-img {
  width: 100%;
  height: 100vh;
  max-height: 550px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(-25%, -55%) scale(1.2);

  @media (min-width: $breakpoint-desktop) {
    max-height: 900px;
  }

  &.run-animation {
    animation: movingSvgMobile 5s cubic-bezier(0.68, -0.55, 0.265, 1.55)
      forwards;

    @media (min-width: $breakpoint-tablet) {
      animation: movingSvgDesktop 5s cubic-bezier(0.68, -0.55, 0.265, 1.55)
        forwards;
      transform: translate(-25%, -55%) scale(1.11);
    }
  }

  #path1,
  #path2 {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
    stroke: $color-black;
    fill: rgb(255, 252, 213);
    fill-opacity: 0;
  }

  #path1 {
    stroke-dasharray: 1100;
    stroke-dashoffset: 1100;
  }

  #path2 {
    stroke-dasharray: 70;
    stroke-dashoffset: 70;
  }

  #path1,
  #path2 {
    &.run-animation {
      animation:
        lineAnimation 6s forwards linear,
        strokeHide 2s 4.2s forwards linear;
    }
  }

  #pngImage {
    opacity: 0;

    &.run-animation {
      animation: imgShow 2s 4.7s forwards linear;
    }
  }
}

/* === Styling and Animating Banners === */

.background {
  &--pink-light,
  &--pink {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 30% 0, 100% 100%, 0% 100%);
    transform: translateX(-1500px);
  }

  &--pink-light {
    background: $color-pink-light;
    width: 70%;

    &.run-animation {
      animation:
        bannerAnimation 1.6s 4.2s cubic-bezier(0.68, -0.55, 0.265, 1.55)
          forwards,
        hideBanner 1.6s 8.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
    }
  }

  &--pink {
    background: $color-pink-dark;
    width: 50%;

    &.run-animation {
      animation:
        bannerAnimation 1s 4.2s linear forwards,
        hideBanner 1s 8.7s forwards;
    }
  }
}
