@import "./styles/variables.scss";
@import "./styles/animations.scss";
@import "./styles/grid.scss";
@import "./styles/section-1.scss";
@import "./styles/section-2.scss";
@import "./styles/section-3.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
}

.scroll-container {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

section {
  position: absolute;
  width: 100%;
  height: 100%;
}

.section {
  &-1 {
    .bg {
      background: $color-yellow;
    }
  }
  &-2 {
    .bg {
      background: $color-pink;
    }
  }
  &-3 {
    .bg {
      background: $color-pink-light;
    }
  }
}

.bg {
  height: 100dvh;
  position: absolute;
  top: 0;
  width: 100%;
}

.outer,
.inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
