@keyframes movingSvgMobile {
  100% {
    transform: scale(1) translate(0, -35%);
  }
}

@keyframes movingSvgDesktop {
  100% {
    transform: scale(1) translate(25%, -50%);
  }
}

@keyframes lineAnimation {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes strokeHide {
  90% {
    stroke-opacity: 1;
    stroke: $color-white;
  }

  100% {
    stroke-opacity: 0;
    stroke: $color-white;
  }
}

@keyframes imgShow {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bannerAnimation {
  100% {
    transform: translateX(0px);
  }
}

@keyframes hideBanner {
  100% {
    transform: translateX(-1500px);
  }
}

@keyframes textBackgroundMoving {
  0% {
    background-position: center 0%;
  }

  100% {
    background-position: center 200%;
  }
}

@keyframes fuego {
  0%,
  100% {
    background: rgba(254, 248, 97, 0.5);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    transform: translateY(-20px) scale(0);
  }
}

@keyframes in {
  to {
    transform: translateY(0);
  }
}

@keyframes rectMoving {
  100% {
    transform: translateY(0);
  }
}
