.section-4 {
  .bg {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .smile {
    @include grid-item(0, 13, 2, 2);
    font-family: "Montserrat", sans-serif;
    background-color: $color-yellow;
    margin-top: 20px;
    padding: 24px;
    border-radius: 8px;
    white-space: nowrap;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
    font-kerning: none;
    color: $color-pink-dark;
    margin-right: 30px;
    overflow: hidden;

    @media (min-width: $breakpoint-tablet) {
      display: none;
    }

    .line {
      text-align: center;
    }
  }

  .sequence {
    &-container {
      @include grid-item(0, 13, 1, 1);
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      object-fit: contain;
      object-position: center;

      @media (min-width: $breakpoint-desktop) {
        width: 90%;
        height: 100%;
      }

      canvas {
        width: 100%;
        height: auto;
      }
    }
  }
}
