/** Breakpoints */
$page-size-max: 2560px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
$content-max-width: 800px;
$container-max-size: 1280px;

/* Colors */
$color-black: #000;
$color-white: #fff;
$color-pink-dark: #fba1b7;
$color-pink-dark-alt: #f3d0d7;
$color-pink: #ffd1da;
$color-pink-light: #fff0f5;
$color-pink-light-alt: #ffefef;
$color-yellow: #ffdbaa;
$color-grey: #f0ebe3;
